{{- if .Values.metrics.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "omnia.fullname" . }}-controller-manager-metrics-service
  labels:
    {{- include "omnia.labels" . | nindent 4 }}
spec:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: {{ .Values.metrics.port }}
  selector:
    {{- include "omnia.selectorLabels" . | nindent 4 }}
{{- end }}
