{{- if and .Values.workspaceContent.enabled (not .Values.workspaceContent.persistence.existingClaim) }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "omnia.fullname" . }}-workspace-content
  labels:
    {{- include "omnia.labels" . | nindent 4 }}
    app.kubernetes.io/component: workspace-content
spec:
  {{- if or .Values.workspaceContent.hostPath.enabled (and .Values.nfs.server.enabled .Values.nfs.server.internal) }}
  {{- /* Bind to static PV (hostPath or NFS) */}}
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  volumeName: {{ include "omnia.fullname" . }}-workspace-content
  {{- else }}
  accessModes:
    {{- toYaml .Values.workspaceContent.persistence.accessModes | nindent 4 }}
  {{- if .Values.workspaceContent.persistence.storageClass }}
  storageClassName: {{ .Values.workspaceContent.persistence.storageClass | quote }}
  {{- else if .Values.nfs.provisioner.enabled }}
  storageClassName: {{ .Values.nfsprovisioner.storageClass.name | default "omnia-nfs" | quote }}
  {{- end }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.workspaceContent.persistence.size }}
{{- end }}
