---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  - persistentvolumeclaims
  - secrets
  - serviceaccounts
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - pods/log
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - replicasets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - autoscaling
  resources:
  - horizontalpodautoscalers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - keda.sh
  resources:
  - scaledobjects
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - omnia.altairalabs.ai
  resources:
  - agentpolicies
  - agentruntimes
  - arenajobs
  - arenasources
  - promptpacks
  - providers
  - sessionretentionpolicies
  - toolregistries
  - workspaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - omnia.altairalabs.ai
  resources:
  - agentpolicies/finalizers
  - agentruntimes/finalizers
  - promptpacks/finalizers
  - providers/finalizers
  - sessionretentionpolicies/finalizers
  - toolregistries/finalizers
  - workspaces/finalizers
  verbs:
  - update
- apiGroups:
  - omnia.altairalabs.ai
  resources:
  - agentpolicies/status
  - agentruntimes/status
  - promptpacks/status
  - providers/status
  - sessionretentionpolicies/status
  - toolregistries/status
  - workspaces/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - omnia.altairalabs.ai
  resources:
  - arenajobs/status
  - arenasources/status
  verbs:
  - get
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
