apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: omnia-demos
    app.kubernetes.io/part-of: {{ include "omnia-demos.name" . }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
